
      /* Titres H1 */
h1 {
    font-size: 3.5em;
    color: #A5B4FC;
    font-family: 'Montserrat';
}

/* Paragraphes 1 */
p, ul, ol, a {
    font-size: 1.1em;
    font-family: 'Manrope';
}

/* le lien */
a {
    text-decoration: none;
    font-family: 'manrope';
}

/* c'est pour le centrage global */
body {
    text-align: center;
}
