body{
    text-align:;
}


form{   
    
}
      
        /*display inline signifie que l'orsque le */
#div1{    
    display: inline;
    
}

#div2{
    display: inline;
}

#div3{
    display: inline;
}






        /*padding permet de modifier la taille d'input*/
        /*input type date donc je cible l'input date avec la valeur padding est j'ai changer sa hauteur intérieur*/
input[type=date],[type=text],[type=submit],[type=email]{
            padding: 3px;  /*pading c'est la hauteur interne */
            margin: 10px; /* le margin modifie la hauteur extérieur  */
            border: 2px;
            border-radius: 5px;
            border: solid black; /*c'est tout sipmelement la couleur de la bordure*/
            margin: bottom 15px;
        
        }

















