

body{
    font-family:'montseratt', sans-serif;
    font-size: 20px;
}



p{
    color:red;
}


h1{
    color: black;
}

h1{
text-align: center;
}

p{
    text-align: center;
} 

 .bolide{
        color: blue;
        font-family:'trirong',sans-serif;
         
    }


/*je d'écris le style appliqué aux membres de la classe de rsma*/


 .bolide{
        color: blue; /*couleur du texte*/
        font-size: 12px; /*taille de la police*/
        font-style: italic /*nom de la policedu texte*/
        
    }
/*je viens de metre le paragraphe en italic*/
.voiture{
      font-style: italic;  
    }

.renault{
        font-weight: bold;
    }


    






    