body{
    font-family:'Roboto', sans-serif;

}



p{
    color:red;
}


h1{
    color: black;
}

h1{
text-align: center;
}

p{
    text-align: center;
} 

 .bolide{
        color: blue;
        font-size: 12px;
        font-style: italic
    
    }





 .bolide{
        color: blue;
        font-size: 12px;
        font-style: italic
    }



